* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 4px solid lightgray;
  display: flex;
  justify-content: space-between;
  padding:24px 24px 0px 24px
}
.box {
  border: 4px solid lightgray;
  margin-bottom:24px;
  height: 100px;
  width: 100px;
}

.box-wrapper {
  width: 50%;
  display:flex;
  justify-content: space-between;

}





